body {
  background-color: #BADBFF; /* Fond de page bleu clair */
  /*background-image: url("../Images/route.gif");
  background-repeat: no-repeat;*/
}
h1 {
	color: #990000;
	background-color: #FFCC00; /* Fond de ligne jaune */
	font-family: arial, sans-serif;
	font-variant: small-caps;
}
h2 {font-family: courier, monospace;}
p {font-family: arial, verdana , sans-serif;}
td {font-family: arial, verdana, sans-serif;}

.nav
{
    float: left;
    width: 150px;
    border: 1px solid black;
}

.section
{
    margin-left: 170px;
}